[submodule "vendor/mongoose"]
	path = vendor/mongoose
	url = http://github.com/LearnBoost/mongoose.git
[submodule "vendor/express"]
	path = vendor/express
	url = http://github.com/visionmedia/express.git
[submodule "vendor/express-csrf"]
	path = vendor/express-csrf
	url = http://github.com/hanssonlarsson/express-csrf.git
[submodule "vendor/stylus"]
	path = vendor/stylus
	url = https://github.com/LearnBoost/stylus.git
